<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav m-0 ">
      <li class="nav-item">
        <button class="btn btn-sm btn-warning m-1" (click)="login()"  *ngIf="!isLogedIn()">Login</button>
      </li>
      <li class="nav-item m-0 ">
        <button class="btn btn-sm btn-info m-1" (click)="logout()"  *ngIf="isLogedIn()">logout</button>
      </li>
    </ul>
  </div>
</nav>
<h1 *ngIf="isLogedIn()"> you are loggedIn</h1>
<router-outlet></router-outlet> 
